@{

}
<style>
    .charegter {
        font-size: 24px;
        padding: 16% 2%;
        margin: 0.5%;
    }
    .link {
        font-size: 16px;
        margin: 0.5%;
        height: 9px; 
        width: 183px;
        padding: 14px 5px;
    }
    .divrow{
        height:100px;
        margin-bottom:5%;
    }
</style>
<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>تعلم الحروف العربية والانكليزية</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<!-- Terms Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h3 class="text-right">الحروف العربية</h3>
                    <div class="row" dir='rtl' lang='ar'>
                        <div class="row" style="width:100%;">
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/alf.mp3')">أ</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=8diOPKeqZVw&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; "onclick="playsound('/Sounds/section1/baa.mp3')">ب</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=-_pJH2fygv4&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/taa.mp3')">ت</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=B9Bn7f2qOMM&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/thaa.mp3')">ث</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=thWfzEuDuhs&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                        </div>

                        <div class="row" style="width:100%;">
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/jem.mp3')">ج</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=4ZFWVZ5j1RE&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/hhaa.mp3')">ح</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=cB1dvKt8oyY&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/kaa.mp3')">خ</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=tHR65MpfTlo&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/dal.mp3')">د</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=WY9k8rzOx-k&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                        </div>

                        <div class="row" style="width:100%;">
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/thal.mp3')">ذ</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=5WRuMo5gDdU&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/raa.mp3')">ر</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=ZCTo3FmRYkM&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/zaa.mp3')">ز</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=ijh5BExcxSk&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/ceen.mp3')">س</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=Yb9BsGxXbuI&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                        </div>

                        <div class="row" style="width:100%;">
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/shen.mp3')">ش</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=8fZbCuzhoU4&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/saad.mp3')">ص</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=1DlCPcBSCX0&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/thad.mp3')">ض</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=z0fCtkJfXGw&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/dta.mp3')">ط</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=-xNkj6FqXa0&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                        </div>

                        <div class="row" style="width:100%;">
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/dthaa.mp3')">ظ</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=OqMoN1wso2U&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/aeen.mp3')">ع</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=GZjUKMmyda4&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/gaa.mp3')">غ</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=t9h-6sHbnNo&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter"  style=" color: white; " onclick="playsound('/Sounds/section1/faa.mp3')">ف</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=5LovNSAxaFI&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                        </div>

                        <div class="row" style="width:100%;">
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/kaf.mp3')">ق</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=pXt4gX73jsc&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/kaaf.mp3')">ك</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=hyRglHg3u8M&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/laam.mp3')">ل</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=3x0VL_Ycc7E&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/mem.mp3')">م</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=DJw8VgNgzGw&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                        </div>

                        <div class="row" style="width:100%;">
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/noon.mp3')">ن</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=zb05wEU7PXQ&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/haa.mp3')">هـ</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=yL_J8gexwXw&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/oo.mp3')">و</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=nxEv3LwtBpM&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                            <div class="col-3 row divrow">
                                <a class="col-6 btn btn-solid-reg charegter" style=" color: white; " onclick="playsound('/Sounds/section1/yia.mp3')">ي</a>
                                <a class="col-6 btn btn-solid-reg link" href="https://youtube.com/watch?v=hxOmtBhTcwo&feature=share" target="_blank">عرض فيديو</a>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-right" style="margin-top: 10%;">الحروف الانكليزية</h3>
                    <div class="row" style="width:100%;">
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">A-a</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/y8pZ3F8KB_Y" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">B-b</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/F7WyPqms5x0" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">C-c</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/LnDxp5QNxmA" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">D-d</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/qdJwtaaTfb4" target="_blank">عرض فيديو</a>
                        </div>
                    </div>
                    <div class="row" style="width:100%;">
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">E-e</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/PMDpfPky054" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">F-f</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/CaywS_FK4wE" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">G-g</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/O96r1dZ4Nqg" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">H-h</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/ndf_-FJsPVk" target="_blank">عرض فيديو</a>
                        </div>
                    </div> 
                    <div class="row" style="width:100%;">
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">I-i</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/yZbNMjwgEN8" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">J-j</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/GkcqRmdwKlE" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">K-k</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/DHRQXGTSvw0" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">L-l</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/YASqLUId4n8" target="_blank">عرض فيديو</a>
                        </div>
                    </div>  
                    <div class="row" style="width:100%;">
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">M-m</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/xUOc-UwTVBA" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">N-n</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/LYyK7KurvMs" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">O-o</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/rpvtKnqu7-4" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">P-p</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/3724uXedg0A" target="_blank">عرض فيديو</a>
                        </div>
                    </div>  
                    <div class="row" style="width:100%;">
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">Q-q</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/-k4oiVaekT0" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">R-r</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/zQ7vvPa4pAk" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">S-s</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/McACiO5dwGM" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">T-t</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/4PhbUhrI4KE" target="_blank">عرض فيديو</a>
                        </div>
                    </div>   
                    <div class="row" style="width:100%;">
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">U-u</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/qmWTMNhtY9Q" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">V-v</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/NkniyCUWeF4" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">W-w</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/8ovG9ptOjBw" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">X-x</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/RhA10WVTmHw" target="_blank">عرض فيديو</a>
                        </div>
                    </div>     
                    <div class="row" style="width:100%;">
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">Y-y</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/RJH2oMKPeaw" target="_blank">عرض فيديو</a>
                        </div>
                        <div class="col-3 row divrow">
                            <a class="col-6 btn btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">Z-z</a>
                            <a class="col-6 btn btn-solid-reg link" href="https://youtu.be/f-iL7k5jhCI" target="_blank">عرض فيديو</a>
                        </div> 
                    </div>       
                </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic -->
<!-- end of terms content -->
    <script>

        var snd = new Audio();
        function playsound(url) {

        if (snd.paused == false) 
            snd.pause();//pause if playing
            
            snd.src = url;
            snd.play();
        }
    </script>