@{

}
<style>
    .charegter{
        font-size:24px;
        padding:2%;
        margin:0.5%;
    }
</style>
<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>تعلم الحروف العربية والانكليزية</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<!-- Terms Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h3 class="text-right">الحروف العربية</h3>
                    <div class="row" dir='rtl' lang='ar'>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">أ</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ب</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ت</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ث</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ج</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ح</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">خ</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">د</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ذ</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ر</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ز</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">س</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ش</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ص</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ض</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ط</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ظ</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ع</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">غ</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ف</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ق</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ك</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ل</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">م</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ن</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">هـ</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">و</a>
                        <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">ي</a> 
                    </div>
                    <h3 class="text-right" style="margin-top: 10%;">الحروف الانكليزية</h3>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">A-a</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">B-b</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">C-c</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">D-d</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">E-e</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">F-f</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">G-g</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">H-h</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">I-i</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">J-j</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">K-k</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">L-l</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">M-m</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">N-n</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">O-o</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">P-p</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">Q-q</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">R-r</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">S-s</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">T-t</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">U-u</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">V-v</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">W-w</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">X-x</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">Y-y</a>
                    <a class="btn-solid-reg charegter" href="#" onclick="playsound('/Sounds/section1/mm1.mp3')">Z-z</a>

                </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic -->
<!-- end of terms content -->
    <script>

        var snd = new Audio();
        function playsound(url) {

        if (snd.paused == false) 
            snd.pause();//pause if playing
            
            snd.src = url;
            snd.play();
        }
    </script>